<div>
{{#if (isdefined title)}}
<div></div>
{{else}}
<footer class="page-footer font-small pt-5">
  <div class="container text-center text-md-left mt-5">

    <div class="row mt-3">

      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <h6 class="text-uppercase font-weight-bold text-light">Box-9</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-light">Box-9 is online Food ordering system,online Food ordering system is a process in which one can order various foods and beverages from some local restaurant and hotels through the use of the internet, 
          just by sitting at home or any place. And the order is delivered to the told location.
          </p>

      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <h6 class="text-uppercase font-weight-bold text-light">About-Us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-light">
          An Indian online food ordering and delivery platform launched in 2021 currently operational in 1+ major cities in different countries around the globe.
        </p>

      </div>



      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-light">

        <h6 class="text-uppercase font-weight-bold text-light">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3 text-light"></i> Bangaluru, #999, IND</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> box9@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 98 765 432 01</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 78 56 721 99</p>

    </div>

    </div>


    </div>
    <div class="footer-copyright text-center py-3 text-light">© 2021 Copyright:
        <a href="/"> Box-9.com</a>
    </div>

</footer>
{{/if}}
</div>