<div>
{{#if (isdefined title)}}
<div></div>
{{else}}
    {{#if (isUser title)}}
    <div class="navigation-bar">
        <a href="/user"><img src="/images/logotpone.png" alt="logo" class="nav-logo"></a>
        <ul class="nav-link">
            <li><a href="/user">Menu</a></li>
            <li><button id="order">Order details</button></li>
            <li><button id="cart"><i class="fas fa-cart-arrow-down mr-1"></i>Cart</button></li>
            <li><button id="logout">Logout</a></li>
        </ul>
    </div>
    {{else}}
    <div class="navigation-bar">
        <a href="/admin"><img src="/images/logotpone.png" alt="logo" class="nav-logo"></a>
        <ul class="nav-link">
            <li><a href="/admin/menu">Menu</a></li>
            <li><a href="/order/order/all">All Orders</a></li>
            {{!-- <li><a href="/admin/searchorders">Search Orders</a></li> --}}
            <li><a href="/admin/trackorder">Update Orders</a></li>
            <li><button id="logout">Logout</a></li>
        </ul>
    </div>
    {{/if}}
{{/if}}
</div>
<script src="/javascripts/topnav.js"></script>
