<main>
    <div class="container">

    <div class="d-flex justify-content-center mt-5">
        <h1>Search Orders</h1>
    </div>

    <div>
    <form class="example mt-3 mb-5">
        <input type="text" placeholder="Search for orders" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>

    <div>
    <table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>rfe rko</td>
    </tr>
    </tbody>
</table>
</div>

</div>

</main>